DB_HOST=db
DB_PORT=5432
DB_NAME=momolito
DB_USER=momolito
DB_PASSWORD=secret
DATABASE_URL=postgresql+psycopg2://momolito:secret@db:5432/momolito
POSTGRES_USER=momolito
POSTGRES_PASSWORD=secret
POSTGRES_DB=momolito
